.container_footer {
  width: 100%;
  color: var(--paragraphe);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top: 1px solid #0000001A;
  padding: 20px;
}

.div_droite .liste_footer {
  display: flex;
  gap: 20px;
}

.liste_footer li a, .droits {
  font-weight: 400;
}