@import url(./couleurs.css);

/*---------------------------------------------------
                  STYLES PARTAGÉE
---------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--vert_fonce);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 64px;
  font-size: 16px;
  gap: 10px;
  padding: 1px 20px 1px 20px;
  z-index: 99;
}

.header_div_gauche {
  display: flex;
  align-items: center;
  gap: 7.99px;
  padding-left: 20px;
}

.header_container_logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header_div_droite {
    display: flex;
    align-content: center;
}

.header_div_droite  ul{
    display: flex;
    gap: 32px;
    color: white;
}

/*---------------------------------------------------
                STYLES PETIT MOBILE
---------------------------------------------------*/

@media (max-width: 480px) {
  .header_div_droite  ul{
    gap: 5vw;
  }
}