/* petit mobile */
@media (max-width: 480px) {
  .boite_suivi {
    overflow-x: scroll;
  }

  .boite_suivi {
    width: 95%;
  }
}

/* mobile et petite tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .boite_suivi {
    overflow-x: scroll;
  }

  .boite_suivi {
    width: 95%;
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 800px) {
  .boite_suivi {
    overflow-x: scroll;
  }

  .boite_suivi {
    width: 95%;
  }
}

.container_suivi {
  width: 100%;
  display: flex;
  justify-content : center;
  margin-bottom: 50px;
}

.boite_suivi {
  padding: 20px ;
  border: 1px solid #0000001A;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 95%;
  text-align: left;
  width: 750px;
}

th,
td {
  padding: 6px;
  vertical-align: bottom;
}

th {
  font-weight: 500;
}

td {
  font-weight: 400;
}

tr {
  border-bottom: 1px solid #0000001A;
}

table caption {
  font-size: 3vh;
  margin-bottom: 10px;
  text-align: left;
}

.tb_1 {
  width: 30%;
}

.tb_2 {
  width: 20%;
}

.tb_3 {
  width: 35%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.tb_4 {
  width: 15%;
  text-align: right;
}

progress {
  appearance: none;
  border-radius: 200px;
  color: black;
  box-sizing: border-box;
  height: 8px;
  flex: 1;
}

progress::-webkit-progress-bar {
  background: lightgray;
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background: black;
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background: black;
}

label {
  margin-left: 5px;
}